* {
    box-sizing: border-box;
    text-align:center;
    text-justify:auto;
  }
  
  br:after {
    content: '\00a0';
    display: block;
    height: 1px; 
    color: black;
  }

  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: 0px;
    margin-top: -2px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:hover {
    border-color:#3d0a66; /* Darker border color on hover */
    border-width: 3px;
  }

  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  .game {
    display: flex;
    gap: 20px;
    align-items: right;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  
  .game-info {
    margin-left: 20px;
  }
.menuButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #540e8d; /* Border color */
  color: rgb(0, 0, 0)000; /* Text color */
  background-color: #7f58fc; /* Background color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  margin: 5px;
}

.menuButton:hover {
  background-color:#3d0a66;; /* Darker background color on hover */
  border-color:#3d0a66; /* Darker border color on hover */
  color: #fff; /* Text color on hover */
}

.movesList{
  text-align:right;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.rules{
  font-size: small;
  text-align: justify;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom:10px;
  padding-bottom:10px;
}
.rulesText{
  text-align: justify;
  margin-bottom:10px;
  padding-bottom:10px;
}


.historyBtn {
  padding: 5px 20px;
  border: 2px solid #540e8d; /* Border color */
  color: rgb(0, 0, 0)000; /* Text color */
  background-color: #7f58fc; /* Background color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  margin: 2px;
}

.historyBtn:hover {
  background-color:#3d0a66;; /* Darker background color on hover */
  border-color:#3d0a66; /* Darker border color on hover */
  color: #fff; /* Text color on hover */
}